<div class="page-name">Action 1</div>
<div class="cards__wrapper">
  <div class="cards rotate">
    <div class="front">
      <div class="cards__img" id="front-img"></div>
      <div class="cards__description cards__icon" id="front-description"></div>
    </div>
    <div class="back">
      <div class="cards__img" id="back-img"></div>
      <div class="cards__description cards__icon" id="back-description"></div>
    </div>
  </div>
  <div class="cards rotate">
    <div class="front">
      <div class="cards__img" id="front-img"></div>
      <div class="cards__description cards__icon" id="front-description"></div>
    </div>
    <div class="back">
      <div class="cards__img" id="back-img"></div>
      <div class="cards__description cards__icon" id="back-description"></div>
    </div>
  </div>
  <div class="cards rotate">
    <div class="front">
      <div class="cards__img" id="front-img"></div>
      <div class="cards__description cards__icon" id="front-description"></div>
    </div>
    <div class="back">
      <div class="cards__img" id="back-img"></div>
      <div class="cards__description cards__icon" id="back-description"></div>
    </div>
  </div>
  <div class="cards rotate">
    <div class="front">
      <div class="cards__img" id="front-img"></div>
      <div class="cards__description cards__icon" id="front-description"></div>
    </div>
    <div class="back">
      <div class="cards__img" id="back-img"></div>
      <div class="cards__description cards__icon" id="back-description"></div>
    </div>
  </div>
  <div class="cards rotate">
    <div class="front">
      <div class="cards__img" id="front-img"></div>
      <div class="cards__description cards__icon" id="front-description"></div>
    </div>
    <div class="back">
      <div class="cards__img" id="back-img"></div>
      <div class="cards__description cards__icon" id="back-description"></div>
    </div>
  </div>
  <div class="cards rotate">
    <div class="front">
      <div class="cards__img" id="front-img"></div>
      <div class="cards__description cards__icon" id="front-description"></div>
    </div>
    <div class="back">
      <div class="cards__img" id="back-img"></div>
      <div class="cards__description cards__icon" id="back-description"></div>
    </div>
  </div>
  <div class="cards rotate">
    <div class="front">
      <div class="cards__img" id="front-img"></div>
      <div class="cards__description cards__icon" id="front-description"></div>
    </div>
    <div class="back">
      <div class="cards__img" id="back-img"></div>
      <div class="cards__description cards__icon" id="back-description"></div>
    </div>
  </div>
  <div class="cards rotate">
    <div class="front">
      <div class="cards__img" id="front-img"></div>
      <div class="cards__description cards__icon" id="front-description"></div>
    </div>
    <div class="back">
      <div class="cards__img" id="back-img"></div>
      <div class="cards__description cards__icon" id="back-description"></div>
    </div>
  </div>
</div>
