$smoke-white: #fefefe;
$dark: #151515;
$gray: #999;
$gray-l: #ccc;
$gray-s: #f6f5f9;
$middle-gray: #333;
$black-filter: rgba(0, 0, 0, 0.7);
$black-filter-d: rgba(0, 0, 0, 0.08);
$white: #fff;
$green: #06d85f;
$green-l: #00e676;
$yellow: #fcba03;
$yellow-l: #ffe593;
$blue: #3234a8;
