@import './colors.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('../assets/images/bg.png'), $gray-s;
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

.app {
  max-width: 1440px;
  margin: 0 auto;
}
