header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 10rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 0 0 5rem;

  @media (max-width: 490px) {
    flex-direction: column-reverse;
    padding: 2rem 0 0 2rem;
  }
}

.toggler {
  z-index: 2;
}
