@media (max-width: 820px) {
  .custom-modal {
    &-main {
      display: flex;
      &-image {
        display: flex;
        height: 250px;
      }
    }
    &-content {
      padding: 0.5rem;
    }
    &-head-text {
      font-size: 2rem;
      padding: 0;
    }
  }
}
