@import './colors.scss';

.custom-modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  &-content {
    position: relative;
    background-color: $smoke-white;
    margin: auto;
    padding: 5rem;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-top: 10rem;
  }
  &-head {
    padding: 10px 16px;
    background-color: $dark;
    color: white;
    &-text {
      text-align: center;
      color: orange;
      font-size: 5rem;
      padding: 1rem;
      font-family: inherit;
    }
  }
  &-main {
    padding: 1rem;
    &-image {
      display: block;
      margin: 0 auto;
    }
  }
  &-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all ease 0.15s;
  }
}
.custom-modal-close:hover,
.custom-modal-close:focus {
  color: $gray;
  text-decoration: none;
  cursor: pointer;
  transform: scale(2);
  transition: all ease 0.15s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
