.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.toggler {
  position: relative;
  width: 144px;
  height: 52px;
  margin-right: 75px;
  overflow: hidden;
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: $green;
  transition: 0.3s ease all;
  z-index: 1;
  border-radius: 90px;
}

.knobs:before {
  content: 'TRAIN';
  position: absolute;
  top: 2px;
  left: 4px;
  width: 65px;
  height: 30px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  line-height: 1.8;
  padding: 9px 4px;
  background-color: $yellow;
  border-radius: 40%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.checkbox:checked + .knobs:before {
  content: 'PLAY';
  left: 67px;
  background-color: $green;
}

.checkbox:checked ~ .layer {
  background-color: $blue;
}

.knobs,
.knobs:before,
.layer {
  transition: 0.3s ease all;
}
