@import './colors.scss';

#nav__toggle {
  opacity: 0;
  z-index: 2;
}

.nav__btn {
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 1;
}

.nav__btn-span {
  display: flex;
  width: inherit;
  height: 10px;
}

.row2 {
  flex-direction: row-reverse;
}

span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: $blue;
  margin: 0.26em 0;
  position: relative;
  border-radius: 3px;
  transition: all 0.4s ease;
  transform-origin: 4px 0px;
}

.nav__btn-span > span:nth-child(odd) {
  width: 5px;
  margin-right: 2px;
}

.row2 > span:nth-child(1) {
  margin-left: 2px;
  margin-right: 0;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

#nav__toggle:checked ~ .nav__btn-span > span:nth-child(odd) {
  transform: translate(-30px, -1px);
}

.nav {
  z-index: 25;
  &__list {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 30rem;
    height: 100%;
    padding: 7rem 3.5rem;
    background-color: $yellow;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.4s;
    &-item {
      display: block;
      padding: 12px 24px;
      color: whitesmoke;
      font-size: 1.3rem;
      font-weight: 600;
      text-decoration: none;
      transition-duration: 0.25s;
      &-link {
        color: whitesmoke;
      }
    }
  }
}

.fa {
  padding-right: 1rem;
}

.nav__list-item-link:hover {
  border-bottom: 1px whitesmoke solid;
}

@media (max-width: 490px) {
  .nav__list {
    top: -110%;
    left: 0;
  }

  #nav__toggle:checked ~ .nav__list {
    top: 0 !important;
  }
}
